{% extends 'base.html' %}

{% block content %}
{% if bag_items %}
<div class="container">
    <h1 class="text-center">Your basket:</h1>
    <div class="row justify-content-center">
        <table class="table-responsive text-center w-auto table-bordered table-striped bag-table">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Description</th>
                    <th scope="col">Size</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in bag_items %}
                <tr>
                    <th scope="row"><img class="table-img" src="{{ item.product.image.url }}" alt="product image"></th>
                    <td>{{ item.product.name }}
                        <br>
                        <a href="{% url 'remove_from_bag' item.item_id %}" class="text-danger"><small>Remove</small></a>
                    </td>
                    <td>{{ item.size.capitalize }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>£{{ item.product.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th class="bag-total" colspan="3">Grand Total</th>
                    <td colspan="2">£{{ total }}</td>
                </tr>
                <tr>
                    <td class="bag-total" colspan="5"><a class="btn btn-success btn-lg"
                            href="{% url 'checkout' %}">Checkout
                            <strong>£{{ total }}</strong></a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% else %}
<div class="container bag-empty">
    <h2>Your shopping bag is empty</h2>
    <i class="far fa-frown fa-10x"></i>
    <br>
    <a class="btn btn-secondary btn-lg" href="{% url 'products' %}">Return to products</a>
</div>
{% endif %}
{% endblock %}