.navbar-brand {
    color: black;
    font-family: Cinzel, sans-serif;
    font-size: 2rem;
}

.navbar {
    background-color: rgba(216, 217, 219, 0.829);
    height: fit-content;
}

.navbar-nav {
    float: right !important;
}

ul.navbar-nav>li {
    padding: 0.5em;

}

.text-info {
    color: black !important;
}

.home-image {
    object-fit: contain;
}

.row-shop-now {
    background-color: black;
    text-align: center;
}

.container-fluid {
    padding: 0;
}

.admin-control-btn {
    padding: 5px;
}